<h1 class="title">{{site.about_me_title}}</h1>
<p class="description" data-aos="fade-down">
  👋 I'm Shahadat Hossain from Bangladesh.
</p>
<p class="description" data-aos="fade-down">
  👨‍💻 I'm a Programmer & Software Developer with a focus on Mobile & Web App Development.
</p>
<p class="description" data-aos="fade-down">
  👥 Experienced Team Worker and Leader in Agile environments.
</p>
<p class="description" data-aos="fade-down">
  💻 Highly enthusiastic in Science, Technology, Space, IoT, DIY & Open Source Technologies.
</p>
<p class="description" data-aos="fade-down">
  🤖 Hobbist IoT & custom Android app & ROM Developer.
</p>
<p class="description" data-aos="fade-down">
  🈺 Neophyte Entrepreneur in the Software Industry.
</p>
<p class="description" data-aos="fade-down">
  📚 Still try to read a little.
</p>
<p class="description" data-aos="fade-down">
  🏞️ Travelling to nature when AFK. 
</p>
