<h1 class="title">{{site.about_me_title}}</h1>
<p class="description" data-aos="fade-down">
  👋  I'm Shahadat Hossain, a seasoned Project Manager with a passion for technology, based in the USA.
</p>
<p class="description" data-aos="fade-left">
  👨‍💻 I possess a strong foundation in software development, with expertise in Mobile & Web App development.
</p>
<p class="description" data-aos="fade-right">
  👥 A collaborative team player with experience leading agile projects and fostering successful team dynamics.
</p>
<p class="description" data-aos="fade-left">
  💻 Driven by a deep interest in Science, Technology, Space, IoT, DIY, and Open-Source technologies.
</p>
<p class="description" data-aos="fade-right">
  🤖 Avid hobbyist in IoT development, custom Android app development, and ROM customization.
</p>
<p class="description" data-aos="fade-left">
  🈺 Continuously exploring <a target="_blank" href="https://kalpurush.com.bd/">entrepreneurial ventures</a> within the software industry.
</p>
<p class="description" data-aos="fade-right">
  🎧 Music is an integral part of my life.
</p>
<p class="description" data-aos="fade-left">
  📚 An avid reader, constantly seeking to expand my knowledge.
</p>
<p class="description" data-aos="fade-up">
  🏞️ An adventurer at heart, I enjoy exploring nature whenever possible.
</p>
