<h1 class="title">{{site.about_me_title}}</h1>
<p class="description" data-aos="fade-down">
  👋 I'm Shahadat Hossain from Bangladesh living in the USA.
</p>
<p class="description" data-aos="fade-left">
  👨‍💻 I'm a Lead Software Engineer, self-taught Programmer & Software Developer with a focus on Mobile & Web App Development.
</p>
<p class="description" data-aos="fade-right">
  👥 Experienced Team Worker became Leader in Agile environments.
</p>
<p class="description" data-aos="fade-left">
  💻 Highly enthusiastic in Science, Technology, Space, IoT, DIY & Open Source Technologies.
</p>
<p class="description" data-aos="fade-right">
  🤖 Hobbist IoT & custom Android App & ROM Developer.
</p>
<p class="description" data-aos="fade-left">
  🈺 <a target="_blank" href="https://kalpurush.com.bd/">Entrepreneur</a> in the Software Industry.
</p>
<p class="description" data-aos="fade-right">
  🎧 Not sure if I breath or listen MUSIC🎶
</p>
<p class="description" data-aos="fade-left">
  📚 Still trying to read a little.
</p>
<p class="description" data-aos="fade-up">
  🏞️ Travelling to nature when AFK. 
</p>
